*{ margin:0; padding:0; font:normal 12px 宋体;}
.wrapper{ position:absolute; width:100%; background:#fff; padding:5px;}
			
/*平常的状态*/
dl{ clear:both; margin:0;padding:5px 0 0 0;height:16px;border-bottom:#705a5b 1px dotted;}
	dl dd{}
		dl dd strong{ float:left; margin-right:5px;padding:0;}
		dl dd div{ float:left; width:85%; list-style-type:none;line-height:16px;}
			dl dd div h4{ clear:both; font-weight:normal}
				dl dd div h4 a{ float:left; color:#000000; font-size:12px; font-weight:normal; text-decoration:none;}
				dl dd div h4 a:hover{ color:#f00; text-decoration:underline;}
				dl dd div h4 span{ float:right; width:80px;}
			dl dd div div {display:none;}
			dl dd div div div {display:none;}
			            
				
/*鼠标划过的状态*/				
dl.over{ clear:both; height:55px; background:#e1d6d0; padding:5px;border-bottom:#705a5b 1px dotted;}
	dl.over dd{}
		dl.over dd strong{ float:left;font-size:14px; color:#de520d; vertical-align:top;font-weight:bold;}
		dl.over dd div{ float:left; width:85%; list-style-type:none;}
			dl.over dd div h4{ clear:both; font-weight:normal}
				dl.over dd div h4 a{ float:left; color:#5b2a1c; font-size:12px; font-weight:bold; text-decoration:none;}
				dl.over dd div h4 a:hover{ color:#f00; text-decoration:underline;}
				dl.over dd div h4 span{ float:right;}
				dl.over dd div div {clear:both; display:block;text-align:left;}
				dl.over dd div div div {clear:both; display:block;text-align:left;}
				dl.over dd div div TEXTAREA {clear:both; display:block;text-align:left;width:100%;height:40px;max-width:300px;}


#bwl_add {display:none;}
#bwl_main {
text-align:center;
padding:5px;
}
#bwl_user{
text-align:left;
padding:0px 0px 0px 20px;
}
#bwl_debug {
text-align:center;
color:#5b2a1c;
font-size:14px;
font-weight:bold;
}

#bwl_tools {
text-align:right;
padding:0px 5px 0px 0px;
}

/*分页样式*/
#bwl_page {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
#bwl_page A {
	BORDER-RIGHT: #c5af90 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c5af90 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #c5af90 1px solid; COLOR: #666666; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #c5af90 1px solid; TEXT-DECORATION: none;BACKGROUND-COLOR: #dac9b6;
}
#bwl_page A:hover {
	BORDER-RIGHT: #5b2b1d 1px solid; BORDER-TOP: #5b2b1d 1px solid; BORDER-LEFT: #5b2b1d 1px solid; COLOR: #000; BORDER-BOTTOM: #5b2b1d 1px solid; BACKGROUND-COLOR: lightyellow
}
#bwl_page A:active {
	BORDER-RIGHT: #5b2b1d 1px solid; BORDER-TOP: #5b2b1d 1px solid; BORDER-LEFT: #5b2b1d 1px solid; COLOR: #000; BORDER-BOTTOM: #5b2b1d 1px solid; BACKGROUND-COLOR: lightyellow
}
#bwl_page SPAN.current {
	BORDER-RIGHT: #5a2a1c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5a2a1c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #5a2a1c 1px solid; COLOR: #000000; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #5a2a1c 1px solid; BACKGROUND-COLOR: #a37c62
}
#bwl_page SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

#bwl_cr,#bwl_cr a{
color:#a99d94;font-size:11px;}