*{ margin:0; padding:0; font:normal 12px 宋体;}
.wrapper{ position:absolute; width:100%; background:#fff; padding:5px;}
			
/*平常的状态*/
ul{ clear:both; margin:0;padding:5px 0 0 0;height:16px;border-bottom:#705a5b 1px dotted;}
	ul li{}
		ul li span{ float:left; margin-right:5px;padding:0;}
		ul li div{ float:left; width:85%; list-style-type:none;line-height:16px;}
			ul li div h4{ clear:both; font-weight:normal}
				ul li div h4 a{ float:left; color:#000000; font-size:12px; font-weight:normal; text-decoration:none;}
				ul li div h4 a:hover{ color:#f00; text-decoration:underline;}
				ul li div h4 span{ float:right; width:80px;}
			ul li div div {display:none;}
			ul li div div div {display:none;}
			            
				
/*鼠标划过的状态*/				
ul.over{ clear:both; height:55px; background:#e1d6d0; padding:5px;border-bottom:#705a5b 1px dotted;}
	ul.over li{}
		ul.over li span{ float:left;font-size:14px; color:#de520d; vertical-align:top;font-weight:bold;}
		ul.over li div{ float:left; width:85%; list-style-type:none;}
			ul.over li div h4{ clear:both; font-weight:normal}
				ul.over li div h4 a{ float:left; color:#5b2a1c; font-size:12px; font-weight:bold; text-decoration:none;}
				ul.over li div h4 a:hover{ color:#f00; text-decoration:underline;}
				ul.over li div h4 span{ float:right;}
				ul.over li div div {clear:both; display:block;text-align:left;}
				ul.over li div div div {clear:both; display:block;text-align:left;}
				ul.over li div div textarea {clear:both; display:block;text-align:left;width:100%;height:40px;max-width:300px;}


#bwl_ali {display:none;}
#bwl_main {
text-align:center;
padding:5px;
}
#bwl_user{
text-align:left;
padding:0px 0px 0px 20px;
}
#bwl_debug {
text-align:center;
color:#5b2a1c;
font-size:14px;
font-weight:bold;
}

#bwl_tools {
text-align:right;
padding:0px 5px 0px 0px;
}

/*分页样式*/
#bwl_page {
	padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center
}
#bwl_page a {
	border-right: #c5af90 1px solid; padding-right: 5px; border-top: #c5af90 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #c5af90 1px solid; color: #666666; margin-right: 2px; padding-top: 2px; border-bottom: #c5af90 1px solid; text-decoration: none;background-color: #dac9b6;
}
#bwl_page a:hover {
	border-right: #5b2b1d 1px solid; border-top: #5b2b1d 1px solid; border-left: #5b2b1d 1px solid; color: #000; border-bottom: #5b2b1d 1px solid; background-color: lightyellow
}
#bwl_page a:active {
	border-right: #5b2b1d 1px solid; border-top: #5b2b1d 1px solid; border-left: #5b2b1d 1px solid; color: #000; border-bottom: #5b2b1d 1px solid; background-color: lightyellow
}
#bwl_page span.current {
	border-right: #5a2a1c 1px solid; padding-right: 5px; border-top: #5a2a1c 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #5a2a1c 1px solid; color: #000000; margin-right: 2px; padding-top: 2px; border-bottom: #5a2a1c 1px solid; background-color: #a37c62
}
#bwl_page span.disabled {
	border-right: #929292 1px solid; padding-right: 5px; border-top: #929292 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #929292 1px solid; color: #929292; margin-right: 2px; padding-top: 2px; border-bottom: #929292 1px solid
}

#bwl_cr,#bwl_cr a{
color:#a99d94;font-size:11px;}