#bwl_cr,#bwl_cr a
{
  color:#a99d94;
  font-size:11px;
}

#bwl_debug
{
  color:#5b2a1c;
  font-size:14px;
  font-weight:700;
  text-align:center;
}

#bwl_login
{
  background:#e2d4c1;
  border-bottom:#b6a392 3px solid;
  border-left:#b6a392 3px solid;
  border-right:#b6a392 3px solid;
  border-top:#b6a392 3px solid;
  display:none;
  height:174px;
  left:50%;
  margin-left:-110px;
  margin-top:8px;
  position:absolute;
  text-align:left;
  top:8px;
  width:220px;
}

#bwl_login #heading
{
  color:#5b2a1c;
  font-family:arial;
  font-size:100%;
  font-weight:700;
  margin:0;
  padding:10px 0 5px 10px;
}

#bwl_login #heading .button
{
  color:#6d1307;
  font-family:Verdana;
  font-size:14px;
  font-weight:700;
  margin-top:5px;
  padding-bottom:3px;
  padding-top:3px;
  width:100px;
}

#bwl_login #heading a.button:link
{
  background:#904;
  border-bottom:#999 1px solid;
  border-left:#999 1px solid;
  border-right:#999 1px solid;
  border-top:#999 1px solid;
  color:#fff;
  display:block;
  font-family:Verdana;
  font-size:15px;
  font-weight:700;
  padding:5px 12px 3px 20px;
  width:50px;
}

#bwl_login #heading a.button:visited
{
  background:#904;
  border-bottom:#999 1px solid;
  border-left:#999 1px solid;
  border-right:#999 1px solid;
  border-top:#999 1px solid;
  color:#fff;
  display:block;
  font-size:15px;
  font-weight:700;
  padding:3px 12px;
  width:60px;
}

#bwl_login #heading a:hover
{
  background-color:#f5f5f5;
  color:#5b2a1c;
  font-size:12px;
  text-decoration:underline;
}

#bwl_login #heading a:link,#bwl_login #heading a:visited
{
  color:#444;
  font-size:12px;
}

#bwl_login #heading div
{
  font-size:85%;
  margin-top:5px;
}

#bwl_login #heading form
{
  margin:0;
  padding:0;
}

#bwl_login #heading h2
{
  border-bottom:#ddd 1px solid;
  color:#999;
  font-family:"trebuchet ms" , lucida grande , verdana, arial, sans-serif;
  font-size:105%;
  font-weight:700;
  margin:0 0 8px;
  padding:0;
  text-transform:uppercase;
}

#bwl_login #heading input.textbox
{
  font-size:14px;
  height:16px;
  padding-left:2px;
  padding-right:2px;
  width:80%;
}

#bwl_login #heading p
{
  margin:0;
  padding:6px 0;
}

#bwl_login #heading p.small
{
  font-size:85%;
  margin-top:12px;
}

#bwl_main
{
  display:none;
  padding:5px;
  text-align:center;
}

#bwl_page
{
  margin:3px;
  padding:3px;
  text-align:center;
}

#bwl_page a
{
  background-color:#dac9b6;
  border-bottom:#c5af90 1px solid;
  border-left:#c5af90 1px solid;
  border-right:#c5af90 1px solid;
  border-top:#c5af90 1px solid;
  color:#666;
  margin-right:2px;
  padding:2px 5px;
  text-decoration:none;
}

#bwl_page a:hover,#bwl_page a:active
{
  background-color:#FFFFE0;
  border-bottom:#5b2b1d 1px solid;
  border-left:#5b2b1d 1px solid;
  border-right:#5b2b1d 1px solid;
  border-top:#5b2b1d 1px solid;
  color:#000;
}

#bwl_page span.current
{
  background-color:#a37c62;
  border-bottom:#5a2a1c 1px solid;
  border-left:#5a2a1c 1px solid;
  border-right:#5a2a1c 1px solid;
  border-top:#5a2a1c 1px solid;
  color:#000;
  font-weight:700;
  margin-right:2px;
  padding:2px 5px;
}

#bwl_page span.disabled
{
  border-bottom:#929292 1px solid;
  border-left:#929292 1px solid;
  border-right:#929292 1px solid;
  border-top:#929292 1px solid;
  color:#929292;
  margin-right:2px;
  padding:2px 5px;
}

#bwl_tools
{
  padding:0 5px 0 0;
  text-align:right;
}

#bwl_user
{
  padding:0 0 0 20px;
  text-align:left;
}

*
{
  font:normal 12px 宋体;
  margin:0;
  padding:0;
}

.diseditable
{
  border-style:solid;
}

.editable
{
  border-style:inset;
}

.mylabel
{
  color:#999;
  display:block;
  font-size:12px;
  font-weight:700;
  margin:3px 0 2px;
  text-transform:uppercase;
}

.wrapper
{
  background:#fff;
  padding:5px;
  position:absolute;
  width:100%;
}

dl
{
  border-bottom:#705a5b 1px dotted;
  clear:both;
  height:16px;
  margin:0;
  padding:5px 0 0;
}

dl dd div
{
  float:left;
  line-height:16px;
  list-style-type:none;
  width:85%;
}

dl dd div div,dl dd div div div,#bwl_add
{
  display:none;
}

dl dd div h4 a
{
  color:#000;
  float:left;
  font-size:12px;
  font-weight:400;
  text-decoration:none;
}

dl dd div h4 a:hover,dl.over dd div h4 a:hover
{
  color:red;
  text-decoration:underline;
}

dl dd div h4 span
{
  float:right;
  width:80px;
}

dl dd div h4,dl.over dd div h4
{
  clear:both;
  font-weight:400;
}

dl dd span
{
  float:left;
  margin-right:5px;
  padding:0;
}

dl.over
{
  background:#e1d6d0;
  border-bottom:#705a5b 1px dotted;
  clear:both;
  height:55px;
  padding:5px;
}

dl.over dd div
{
  float:left;
  list-style-type:none;
  width:85%;
}

dl.over dd div div
{
  clear:both;
  display:block;
  height:100%;
  text-align:left;
  width:100%;
}

dl.over dd div h4 a
{
  color:#5b2a1c;
  float:left;
  font-size:12px;
  font-weight:700;
  text-decoration:none;
}

dl.over dd div h4 span
{
  float:right;
}

dl.over dd span
{
  color:#de520d;
  float:left;
  font-size:14px;
  font-weight:700;
  vertical-align:top;
}